@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@import url("../fonts/font-awesome/css/font-awesome.css");
@import url("../fonts/elegant_font/HTML_CSS/style.css");
@import url("../fonts/et-line-font/style.css");
@import url("../fonts/icofont/icofont.min.css");

* {
    --body-font: "Manrope", Helvetica, Arial, sans-serif;
    --title-font: "Manrope", Helvetica, Arial, sans-serif;
}


html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #fff;
}

body {    
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: #818181;
    line-height: 30px;
    padding: 0;
    line-height: 26px;
    word-spacing: 0px;
}

.dark-scheme{
    color: #9fa4dd;
}

body.dark-scheme{
    background: #161D30;
}

body.boxed {
    margin: 30px;
    overflow: hidden;
    border: solid 1px #eee;
}

body .owl-stage .owl-item {
    display: inline-block;
}

#wrapper {
    overflow: hidden;
}

.de-navbar-left #wrapper {
    overflow: visible;
}

a,
a:hover {
    text-decoration: none;
}

a.a-underline {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

a.a-underline span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #333;
    width: 0;
}

a.a-underline:hover span {
    width: 100%;
}



header {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1001;
    background: #2b313f;
    margin: 0;
    height:
}

header.smaller.has-topbar {
    height: 105px;
}

header.header-s1 {
    top: 0;
}

header .info {
    display: none;
    color: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 100;
    background: #242424;
}

header .info .col {
    display: inline-block;
    font-size: 12px;
}

header .info .col {
    padding-right: 30px;
}

header .info .col:last-child {
    padding-right: 0px;
}

header .info i {
    font-size: 14px;
    margin-right: 15px;
}

header .info .social.col {
    border: none;
}

header .info .social i {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    float: none;
    padding: 0 10px 0 10px;
    margin: 0;
}

header .info strong {
    font-size: 12px;
}

header.header-bg {
    background: rgba(0, 0, 0, 0.5);
}

header.transparent {
    background: none;
}

body:not(.side-layout) header:not(.smaller):not(.header-mobile).header-light.transparent {
    background: rgba(255, 255, 255, 0.0);
}

header div#logo {
    font-family: "Oswald", sans-serif;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav a:hover {
    color: #555;
}

header.smaller #mainmenu ul ul {
    top: 0px;
}

header.smaller {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0px;
    padding: 0;
    border: 0;
}

header.smaller.header-light,
header.header-mobile.header-light {
    border-bottom: solid 1px #dddddd;
}

header.smaller .btn-rsvp {
    height: 100px;
    padding-top: 55px;
}

.boxed header.smaller {
    margin-top: 0px;
}

header.smaller div#logo,
header.s2 div#logo {}

header.smaller.scroll-light {
    background: #ffffff;
}

header.smaller.scroll-dark {
    background: #161D30;
}

header.header-light .h-phone,
header.smaller.scroll-light .h-phone {
    color: #202020;
}

header:not(.header-light).smaller.scroll-light div#logo .logo {
    display: none;
}

header.smaller.scroll-light div#logo .logo-2 {
    display: inline-block;
}

header.smaller.scroll-light div#logo .logo-scroll {
    display: inline-block;
}

header.smaller.header-light div#logo .logo {
    display: none;
}

header.smaller.scroll-light .social-icons i {
    color: #333;
}

header.smaller.scroll-light #mainmenu a {
    color: #606060;
}

header.smaller.scroll-light #mainmenu li li a:hover {
    color: #ffffff;
}

.logo-smaller div#logo {
    width: 150px;
    height: 30px;
    line-height: 65px;
    font-size: 30px;
}

.logo-smaller div#logo img {
    font-size: 30px;
}

.logo-smaller div#logo .logo-1 {
    display: none;
}

.logo-smaller div#logo .logo-2 {
    display: inline-block;
}

.logo-small {
    margin-bottom: 20px;
}

header.de_header_2 {
    height: 125px;
}

header.de_header_2.smaller {
    height: 70px;
}

header.de_header_2.smaller .info {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

header.header-full {
    padding-left: 40px;
    padding-right: 40px;
}

header .header-row {
    text-align: center;
}

header .header-col {
    position: relative;
    height: 100%;
}

header .header-col.left {
    float: left;
    padding: 0 30px 0 0;
}

header .header-col.mid {
    float: right;
}

header .header-col.mid .social-icons {
    float: right;

    padding: 0 30px 0 30px;
}


.header-col-right {
    text-align: right;
}


.de-navbar-left {
    background: #151618;
}

.de-navbar-left #logo {
    padding: 40px;
    text-align: center;
    width: 100%;
}

.de-navbar-left header {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    background: none;
    padding: 30px;
    padding-right: 20px;
}

.de-navbar-left header #mainmenu {
    float: none;
    margin: 0;
    padding: 0;
}

.de-navbar-left header #mainmenu>li {
    display: block;
    margin: 0;
    float: none;
    text-align: center;
    font-family: var(--body-font);
    letter-spacing: 5px;
    font-size: 14px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}

.de_light.de-navbar-left header #mainmenu>li {
    border-bottom: solid 1px rgba(0, 0, 0, .05);
}

.de-navbar-left header #mainmenu>li>a {
    padding: 0;
    opacity: .5;
}

.de_light.de-navbar-left header #mainmenu>li>a {
    color: #222;
}

.de-navbar-left header #mainmenu>li a:hover {
    opacity: 1;
}

.de-navbar-left header #mainmenu>li>a:after {
    content: none;
}

.de-navbar-left header nav {
    float: none;
}

#subheader {
    text-align: center;
    overflow: hidden;
    padding: 70px 0 100px 0;
}

#subheader h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

#subheader.dark {
    background-color: #1A1C26;
}

#subheader.dark h1 {
    color: #fff;
}

.de-navbar-left #subheader {
    padding-bottom: 120px;
}

#subheader .crumb {
    font-size: 14px;
    letter-spacing: 3px;
}

#subheader.text-light .crumb {
    color: #fff;
}

#subheader .small-border-deco {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .1);
}

#subheader .small-border-deco span {
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 100px;
}

#subheader.dark h2,
#subheader.dark h4 {
    color: #fff;
}

#subheader.dark h2 {
    font-size: 48px;
}

#subheader.s2 {
    background: rgba(var(--secondary-color-rgb), .1);
    text-align: left;
    padding: 120px 0 60px;
    border: solid 1px #eee;
    border-left: none;
    border-right: none;
}

#subheader.s2 h1,
#subheader.s2 .crumb {
    margin: 0;
    padding: 0;
}

#subheader.s2 .crumb {
    float: right;
    margin-top: 15px;
}

.de-navbar-left.de_light #subheader h1 {
    color: #222;
}

#profile_banner {
    min-height: 360px;
}


#mainmenu {
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
    float: none;
}

#mainmenu ul {
    margin: 0px 0px;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
    -moz-box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
    box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
}

.dark-scheme #mainmenu ul{
    background: #21273e;
}

#mainmenu li {
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
    display: inline;
    list-style: none;
    position: relative;
}

#mainmenu li.has-child:after {
    font-family: FontAwesome;
    content: "\f078";
    color: rgba(255, 255, 255, .5);
    padding-left: 5px;
    font-size: 8px;
    position: relative;
    top: -2px;
}

.header-light #mainmenu li.has-child:after{
    color: rgba(0, 0, 0, .5);
}

#mainmenu li > a {
    padding-right: 6px;
    font-weight: 800;
}

#mainmenu li.has-child>a {
    padding-right: 0px;
}

#mainmenu a {
    position: relative;
    display: inline-block;
    padding: 30px 18px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    outline: none;
}

#mainmenu a span {
    position: relative;
    width: 0%;
    color: #ffffff;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 14px;
    border-bottom: solid 2px #ffffff;
}

#mainmenu li:hover a span {
    width: 100%;
}

#mainmenu li li a span {
    float: right;
    margin-top: 5px;
}

#mainmenu a.active span {
    width: 100%;
    margin-left: 0%;
}

.header-light {
    border-bottom: solid 1px rgba(255, 255, 255, 0);
}

.header-light #mainmenu>li>a {
    color: #222;
}

#mainmenu li li {
    font-family: var(--body-font);
    font-size: 14px;
}

#mainmenu li li:last-child {
    border-bottom: none;
}

#mainmenu li li a {
    padding: 5px 15px;
    border-top: none;
    color: #606060;
    width: 100%;
    border-left: none;
    text-align: left;
    font-weight: normal;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}

#mainmenu li:last-child > a{
    border-bottom: none;
}

.dark-scheme #mainmenu li li a{
    color: #ffffff;
}

.rtl #mainmenu li li a {
    text-align: right;
}

#mainmenu li li a:hover {
    color: #111;
}

#mainmenu li li a:after {
    content: none;
}

#mainmenu li li li a {
    padding: 2px 15px 2px 15px;
    background: #171A21;
}

#mainmenu li li a:hover,
#mainmenu ul li:hover>a {
    color: #fff;
    background: #1a8b49;
}

#mainmenu li ul {
    width: 180px;
    height: auto;
    position: absolute;
    left: 0px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

#mainmenu li li {
    font-size: 14px;
    display: block;
    float: none;
    text-transform: none;
}

#mainmenu li:hover>ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
}

#mainmenu li ul ul {
    left: 100%;
    top: 0px;
}

#mainmenu li ul ul li a {
    background: #202020;
}

#mainmenu li:hover>ul {
    color: #1a8b49;
}

#mainmenu select {
    padding: 10px;
    height: 36px;
    font-size: 14px;
    border: none;
    background: #ff4200;
    color: #eceff3;
}

#mainmenu select option {
    padding: 10px;
}

#mainmenu .btn-type {
    padding: 0;
    margin: 0;
}

#mainmenu .btn-type a {
    background: #eee;
    padding: 0;
    margin: 0;
}

#mainmenu>li ul.mega {
    position: fixed;
    left: 0;
    height: 0%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

#mainmenu li:hover ul.mega {
    visibility: visible;
    opacity: 1;
}

#mainmenu li ul.mega>li,
#mainmenu li ul.mega>li a {
    width: 100%;
}

#mainmenu li ul.mega li.title {
    padding: 0px 10px 15px 10px;
    text-align: left;
    color: #fff;
    font-weight: bold;
}

#mainmenu li ul.mega>li ul {
    position: static;
    visibility: visible;
    opacity: 1;
    left: 0;
    float: none;
    width: 100%;
}

#mainmenu ul.mega>li ul li {
    margin: 0;
    padding: 0;
}

#mainmenu ul.mega>li ul li:last-child {
    border-bottom: solid 1px #333333;
}

#mainmenu li ul.mega .menu-content {
    background: #171A21;
    padding: 30px;
}

header.header-mobile #mainmenu>li ul.mega {
    visibility: visible;
    opacity: 1;
}

header:not(.header-mobile) #mainmenu>li:hover ul.mega {
    height: auto;
}

/* menu toggle for mobile */

#menu-btn {
    display: none;
    float: right;
    margin-top: -3px;
    width: 32px;
    height: 32px;
    padding: 4px;
    text-align: center;
    cursor: poInter;
    color: #fff;
    margin-left: 20px;
}

#menu-btn:before {
    font-family: FontAwesome;
    content: "\f0c9";
    font-size: 20px;
}

#menu-btn:hover {
    background: #fff;
}

#menu-btn:hover:before {
    color: #222;
}

.rtl #menu-btn {
    float: left;
}

header.header-mobile.header-light,
header.header-mobile.header-light #menu-btn,
header.header-mobile.header-light #menu-btn:hover {
    background: none;
}

header.header-mobile.header-light #menu-btn {
    color: #222;
}



#content {
    width: 100%;
    background: #fff;
    padding: 90px 0 90px 0;
    z-index: 100;
}

.de_light #content {
    background: #ffffff;
}

#content {
    background: #ffffff;
}

.dark-scheme #content {
    background: #161D30;;
}


section {
    padding: 90px 0 90px 0;
    position: relative;
}

.dark-scheme section{
    background: #161D30;
}

section:not(.relative) {}

section.no-bg,
#content.no-bg {
    background: none !important;
}

.bgcolor-variation {
    background: #f6f6f6;
}

.overlay-gradient {
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    padding: 90px 0 90px 0;
}

.de-navbar-left .container-fluid .container {
    width: 100%;
}

.de-navbar-left section {
    padding: 70px;
}

.de_light section {
    background: #ffffff;
}

.section-fixed {
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.full-height {
    overflow: hidden;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.text_top{
    position: relative;
    z-index: 1000;
}


footer {

    color: #9fa4dd;
    padding: 80px 0 0 0;
    font-size: 15px;
}

.dark-scheme footer{
    background: #292F45;
}

footer.footer-light {
    background: #ffffff !important;
    ;
    border-top: solid 1px #eeeeee;
    color: #595d69;
}

footer.footer-light a {
    color: #595d69;
}

.dark-scheme footer a{
    color: #9fa4dd;
}

footer.footer-black {
    background: #222222;
}

footer h5,
.de_light footer h5 {
    color: #fff;
    font-size: 18px;
    text-transform: none;
}

footer a {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none !important;
}

.de-navbar-left footer {
    padding: 70px 70px 0 70px;
}

.subfooter {
    border-top: solid 1px rgba(255, 255, 255, .1);
    margin-top: 40px;
    padding: 20px 0 20px 0;
}

.footer-light .subfooter {
    border-top: solid 1px #eeeeee;
}

.de-navbar-left .subfooter {
    background: none;
}

header.side-header {
    border-bottom: none;
    margin: 0;
}

header.side-header .social-icons-2 {
    margin: 0 auto;
    margin-top: 50px;
    float: none;
    text-align: center;
}

header.side-header .social-icons-2 a {
    display: inline-block;
    margin: 0 2px 0 2px;
    background: #555;
    width: 36px;
    height: 36px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    opacity: .2;
}

.de_light header.side-header .social-icons-2 a {
    background: #fff;
    color: #333;
}

header.side-header .social-icons-2 a:hover {
    opacity: 1;
}

.de-navbar-left.de_light header,
.de-navbar-left.de_light {
    background: rgba(var(--secondary-color-rgb), .1);
}

header.header-light-transparent {
    background: rgba(255, 255, 255, .5);
}

header.header-solid.header-light #mainmenu>li>a {
    color: #555;
}

header.header-solid.header-light .info {
    background: #eee;
    color: #555;
}

header.header-solid.header-light .info .social i {
    color: #222;
}

header.header-solid {
    background: #fff;
}

header.header-light {
    background: #ffffff;
}

header.smaller.header-dark {
    background: #222222;
    border: none;
}

header.smaller.header-dark #mainmenu a {
    color: #fff;
}

header.s2 {
    background: #ffffff !important;
    border-bottom: solid 1px #eee;
    top: 0;
}

header.s2 #mainmenu>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
}

.side-layout header.smaller.header-dark #mainmenu>li {
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}

.side-layout header.smaller.header-dark #mainmenu>li:last-child {
    border-bottom: none;
}

header.header-mobile {
    position: absolute;
    background: #fff;
    top: 0;
    height: 90px;
}

.dark-scheme header.header-mobile{
     background: #161D30;
}

header.header-mobile.has-topbar {
    height: 100px;
}

header.header-mobile.has-topbar .header-row,
header.header-mobile.has-topbar .header-col {
    margin-top: 10px;
}

header.header-mobile.has-topbar #topbar {
    margin-top: -15px;
    padding: 0;
}

header.header-mobile nav {
    float: none;
}

header.header-mobile .logo {
    display: none;
}

header.header-mobile .btn-rsvp {
    padding-top: 40px;
    height: 90px;
}

header.header-mobile .logo-2 {
    display: inline-block;
}

header.header-mobile.header-light {
    background: #fff;
}

header.header-mobile #mainmenu ul {
    padding: 0;
}

header.header-solid.header-light {
    background: #fff;
}

header.header-light .logo {
    display: none;
}

header.header-light .logo-2 {
    display: inline-block;
}

/* topbar start here */

#topbar {
    z-index: 1000;
    width: 100%;
    padding: 0 30px;
    overflow: hidden;
    top: 0;
}

#topbar.topbar-dark {
    background: #202020;
}

#topbar a {
    text-decoration: none;
    color: #606060;
}

#topbar.text-light a {
    color: #ffffff;
}

.topbar-left,
.topbar-right {
    display: flex;
}

.topbar-right {
    float: right;
}

.topbar-solid {
    background: #ffffff;
}

.tb-light {
    background: #ffffff;
}

#topbar:not(.topbar-noborder) .topbar-right .topbar-widget {
    border-left: solid 1px rgba(255, 255, 255, .1);
}

#topbar:not(.topbar-noborder) .topbar-right span:last-child {
    border-right: solid 1px rgba(255, 255, 255, .1);
}

#topbar:not(.topbar-noborder) .topbar-light .topbar-right .topbar-widget {
    border-left: solid 1px #eee;
}

#topbar:not(.topbar-noborder) .topbar-light .topbar-right span:last-child {
    border-right: solid 1px #eee;
}

#topbar:not(.topbar-noborder) .tb-light .topbar-right .topbar-widget {
    border-left: solid 1px #eeeeee;
}

#topbar:not(.topbar-noborder) .tb-light .topbar-right span:last-child {
    border-right: solid 1px #eeeeee;
}

/* topbar left content */
.topbar-left {
    float: left;
}

#topbar:not(.topbar-noborder) .topbar-left .topbar-widget {
    border-right: solid 1px rgba(255, 255, 255, .1);
}

#topbar:not(.topbar-noborder) .topbar-light .topbar-left .topbar-widget {
    border-right: solid 1px #eee;
}

#topbar:not(.topbar-noborder) .topbar-left span:first-child {
    border-left: solid 1px rgba(255, 255, 255, .1);
}

#topbar:not(.topbar-noborder) .tb-light .topbar-left .topbar-widget {
    border-right: solid 1px #eeeeee;
}

#topbar:not(.topbar-noborder) .tb-light .topbar-left span:first-child {
    border-left: solid 1px #eeeeee;
}

.h-phone {
    position: relative;
    font-weight: bold;
    color: #ffffff;
    font-family: var(--body-font);
    padding-left: 40px;
    font-size: 18px;
    padding-top: 20px;
}

.h-phone span {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 0;
    font-size: 12px;
    font-weight: 500;
}

.h-phone i {
    display: inline-block;
    position: absolute;
    font-size: 32px;
    left: 0;
    top: 12px
}



a.btn-slider:hover {
    color: #222;
    background: #fff;
    border-color: #000;
    border: solid 2px #fff;
}

a.btn-slider:hover:after {
    color: #222;
}

a.btn-id,
a.btn-id:hover {
    border: none;
}

a.btn-light.btn-id {
    color: #222;
}

a.btn-dark.btn-id {
    color: #fff;
}

.btn-main.btn-small {
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-fx.btn-main {
    text-transform: normal;
}

a.btn-bg-dark {
    background: #222;
}

a.btn-text-light {
    color: #fff;
}

.btn-icon-left i {
    margin-right: 12px;
    color: #fff;
}

.btn-add_to_cart,
a.btn-add_to_cart {
    border: solid 1px #bbb;
    font-size: 12px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 3px;
    padding-left: 40px;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #555;
}

.btn-add_to_cart:before,
a.btn-add_to_cart:before {
    font-family: "FontAwesome";
    content: "\f07a";
    position: absolute;
    left: 20px;
}

a.btn-main,
a.btn-main:active,
a.btn-main:focus,
a.btn-main:visited,
.btn-main,
input[type=button].btn-main {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 14px;
    border: none;
}

a.btn-main.btn-white {
    background: #ffffff;
}

header a.btn-main {
    padding: 6px 20px !important;
}

.col-right a.btn-main {
    font-size: 14px;
    text-transform: none;
}

a.btn-border {
    border: solid 2px rgba(255, 255, 255, .3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-width: 120px;
    outline: 0;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    min-width: 120px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

a.btn-border:hover {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    margin-top: -2px;
    margin-bottom: 2px;
    box-sizing: border-box
}

a.btn-border.light {
    border: solid 1px #ffffff;
    color: #ffffff;
}

a.btn-border.light:hover {
    background: #ffffff;
}

a.btn-border:hover a {
    color: #ffffff !important;
}

.d-btn-close {
    color: #ffffff;
    cursor: poInter;
    text-align: center;
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    background: #333;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    padding-top: 12px;
    position: absolute;
    left: 0;
    right: 0;
}

a.btn-link {
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.cover a.btn-link:hover {
    color: #fff;
}

.play-button {
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    color: #fff;
    text-decoration: none;
    border: solid 5px rgba(255, 255, 255, .3);
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    padding-top: 22px;
    padding-left: 5px;
}

.play-button:before {
    font-family: "FontAwesome";
    font-size: 20px;
    content: "\f04b";
    position: relative;
    color: #fff;
}

.play-button:hover {
    border: solid 5px rgba(255, 255, 255, 1);
}

.play-button.dark {
    color: #222;
    border: solid 5px rgba(0, 0, 0, .1);
}

.play-button.dark:before {
    color: #222;
}

.play-button.dark:hover {
    border: solid 5px rgba(0, 0, 0, .5);
}

.text-light .play-button {
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    color: #fff;
    text-decoration: none;
    border: solid 5px rgba(255, 255, 255, .3);
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    padding-top: 22px;
    padding-left: 5px;
}

.text-light .play-button:before {
    font-family: "FontAwesome";
    font-size: 20px;
    content: "\f04b";
    position: relative;
    color: #fff;
}

.text-light .play-button.dark {
    color: #fff;
    border: solid 5px rgba(255, 255, 255, .3);
}

.text-light .play-button.dark:before {
    color: #fff;
}

.text-light .play-button.dark:hover {
    border: solid 5px rgba(255, 255, 255, 1);
}

.de_count {
    padding: 20px 0 10px 0;
    background: none;
}

.de_count h3 {
    font-size: 36px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    line-height: .5em;
}

.de_count h5 {
    font-size: 14px;
    font-weight: 500;
}

.de_count h3 span {
    font-size: 36px;
}

.de_count.big h3 {
    font-size: 120px;
}

.de_count span {
    font-size: 12px;
    text-transform: uppercase;
}

.de_count i {
    display: block;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100%;
    font-weight: lighter;
}

.de_count.small h4 {
    font-size: 28px;
    margin-bottom: 0;

}


.spacer-single {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}

.spacer-double {
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
}

.spacer-half {
    width: 100%;
    height: 15px;
    display: block;
    clear: both;
}

.spacer-10 {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
}

.spacer-20 {
    width: 100%;
    height: 20px;
    display: block;
    clear: both;
}

.spacer-30 {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}

.spacer-40 {
    width: 100%;
    height: 40px;
    display: block;
    clear: both;
}

.spacer-50 {
    width: 100%;
    height: 50px;
    display: block;
    clear: both;
}

.spacer-60 {
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
}

hr {
    display: block;
    clear: both;
    border-top: solid 1px #ddd;
    margin: 40px 0 40px 0;
}

h1,
h2,
h4,
h3,
h5,
h6,
.h1_big,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
footer.footer-light h5 {
    margin-top: 0;
    font-family: var(--title-font);
    font-weight: 700;
    color: #0d0c22;
}

.dark-scheme h1,
.dark-scheme h2,
.dark-scheme h4,
.dark-scheme h3,
.dark-scheme h5,
.dark-scheme h6,
.dark-scheme .h1_big,
.dark-scheme .h1,
.dark-scheme .h2,
.dark-scheme .h3,
.dark-scheme .h4,
.dark-scheme .h5,
.dark-scheme .h6{
    color: #ffffff;
}

footer h1,
footer h2,
footer h4,
footer h4,
footer h5,
footer h6 {
    color: #fff;
}

h2.text-light,
footer h4,
footer h4,
footer h5,
footer h6 {
    color: #fff;
}

h1,
.h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2em;
    letter-spacing: -1px;
}

h1 .label {
    display: inline-block;
    font-size: 36px;
    padding: 0 6px;
    margin-left: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

h1.s1 {
    letter-spacing: 30px;
    font-size: 26px;
}

h1 .small-border {
    margin-top: 30px;
}

h1.big,
.h1_big {
    font-size: 64px;
    margin: 0;
    line-height: 70px;
}

h1.very-big {
    font-size: 120px;
    letter-spacing: -5px;
}

h1.ultra-big {
    font-size: 140px;
    line-height: 120px;
    letter-spacing: -6px;
    font-weight: 700;
    margin-bottom: 0;
}

h1.ultra-big span {
    display: inline-block;
}

h1.ultra-big span.underline span {
    display: block;
    border-bottom: solid 12px #fff;
    position: relative;
    margin-top: -5px;
}

h1.very-big-2 {
    font-size: 90px;
    letter-spacing: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.h2_title {
    font-size: 28px;
    display: block;
    margin-top: 0;
    line-height: 1.2em;
}

h2 .small-border {
    margin-left: 0;
    margin-bottom: 15px;
    width: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 46px;
}

h2.style-2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2.big {
    font-size: 48px;
    line-height: 1.3em;
    margin-bottom: 0;
}

h2 .uptitle {
    display: block;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
}

h2.s1,
.h2_s1 {
    font-size: 24px;
}

h2.deco-text span {
    font-family: "Parisienne";
    display: block;
    line-height: .85em;
    font-weight: lighter;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

h2.deco-text .md {
    font-size: 80px;
}

h2.deco-text .lg {
    font-size: 120px;
}

h2.deco-text .xl {
    font-size: 150px;
}

h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

h4.teaser {
    font-weight: 300;
    font-size: 22px;
}

.subtitle.s2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.subtitle.s2 span {
    margin-right: 20px;
    padding-left: 20px;
}

.subtitle.s2 i {
    margin-right: 10px;
}

.subtitle.s2 span:first-child {
    padding-left: 0;
}

h4.s1 {
    letter-spacing: 10px;
    font-weight: 400;
    font-size: 16px;
}

h4.s2 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.8em;
}

h4.s3 {
    font-family: "Parisienne";
    font-size: 60px;
    font-weight: lighter;
}

h4.s3 {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 15px;
}

.call-to-action h4 {
    text-transform: none;
    font-size: 20px;
}

h1.slogan_big {
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -2px;
    padding: 0;
    margin: 0px 0 30px 0;
}

h1.title {
    font-size: 64px;
    letter-spacing: 10px;
}

h1.title strong {
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
}

h1.hs1 {
    font-family: "Parisienne";
    font-size: 96px;
    display: inline-block;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

h1.hs2 {
    font-family: "Parisienne";
    font-size: 72px;
    display: inline-block;
    font-weight: lighter;
}

h2.subtitle {
    margin-top: 0;
}

h2.name {
    font-family: var(--body-font);
    color: #fff;
    font-size: 84px;
    line-height: 50px;
}

h2.name span {
    display: block;
    font-size: 32px;
}

h2.name-s1 {
    font-family: var(--body-font);
    color: #fff;
    font-size: 84px;
    font-weight: 700;
    line-height: 50px;
}

h2.name-s1 span {
    display: block;
    font-size: 32px;
}

h2.hw {
    display: block;
    font-family: "Parisienne";
    font-size: 48px;
    text-transform: none;
    font-weight: lighter;
}

h2.deco {
    font-family: var(--body-font);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

h2.deco span {
    display: inline-block;
    position: relative;
}

h2.deco span:before,
h2.deco span:after {
    content: "";
    position: absolute;
    border-top: 1px solid #bbb;
    top: 10px;
    width: 100px;
}

h2.deco span:before {
    right: 100%;
    margin-right: 15px;
}

h2.deco span:after {
    left: 100%;
    margin-left: 15px;
}

h2.hs1 {
    font-family: var(--body-font);
    font-size: 40px;
}

h2.hs1 i {
    font-size: 48px;
    position: relative;
    top: 10px;
    color: #ff0042;
    margin: 0 10px 0 10px;
}

h2.hs1 span {
    font-size: 48px;
    position: relative;
    top: 10px;
    font-family: "Miama";
    margin: 0 15px 0 10px;
    font-weight: normal;
}

h2 .de_light .text-light h2 {
    color: #fff;
}

.text-light h2.deco span:before,
.text-light h2.deco span:after {
    border-top: 1px solid rgba(255, 255, 255, .5);
}

h2.s2 {
    font-family: var(--body-font);
    font-weight: 400;
}

h2.s3 {
    font-size: 36px;
    margin-bottom: 20px;
}

h4.title {
    border-bottom: solid 1px #ddd;
    margin-bottom: 20px;
}

h4.style-2 {
    font-size: 18px;
}

h4.title {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h5.s2 {
    font-family: var(--body-font);
    letter-spacing: 1px;
    font-size: 14px;
}

h5 {
    font-size: 18px;
}

h4.s1 {
    font-size: 12px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

span.teaser {
    font-family: "Georgia";
    font-style: italic;
    font-size: 18px;
}

.wm {
    font-size: 200px;
    opacity: .2;
    position: absolute;
    left: 0;
    z-index: 0;
    letter-spacing: -.05em;
}


.text-light {
    color: #ffffff;
}

.text-dark {
    color: #223044;
}

.pricing-s2.bg.text-light .top p {
    color: #fff;
}

.text-white,
.de_light .text-white {
    color: #fff;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
    color: #fff;
}

.de_light .text-light h1,
.de_light .text-light h2,
.de_light .text-light h4,
.de_light .text-light h4,
.de_light .text-light h5,
.de_light .text-light h6 {
    color: #fff;
}

.text-white h1,
.text-white h2,
.text-white h4,
.text-white h4,
.text-white h5,
.text-white h6 {
    color: #fff;
}

.de_light .text-white h1,
.de_light .text-white h2,
.de_light .text-white h4,
.de_light .text-white h4,
.de_light .text-white h5,
.de_light .text-white h6 {
    color: #fff;
}

.de_light h1,
.de_light h2,
.de_light h4,
.de_light h4,
.de_light h5,
.de_light h6 {
    color: #202020;
}





.side-layout header {
    width: 20%;
    height: 100%;
    background: #222;
    position: fixed;
    padding: 30px;
    top: 0;
}

.side-layout header.header-light {
    background: #fff;
    border-right: solid 1px #eee;
}

.side-layout #content {
    width: 80%;
    float: right;
}

.side-layout footer {
    width: 80%;
    float: right;
}

.side-layout .container {
    width: 90%;
}

.side-layout section {
    width: 100%;
    float: right;
}


.side-layout header .info {
    display: none;
}

.side-layout #mainmenu {
    padding: 0;
    margin-top: 40px;
}

.side-layout #mainmenu>li {
    display: block;
    width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.side-layout header.smaller #mainmenu>li {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.side-layout header.smaller {
    border-right: solid 1px #f6f6f6;
}

.side-layout header.header-dark.smaller {
    border-right: none;
}

.side-layout #mainmenu>li:last-child {
    border-bottom: none;
}

.side-layout #mainmenu>li>a {
    padding: 0;
    margin: 0;
}

.side-layout #mainmenu>li>a span {
    display: none;
}

.side-layout #mainmenu>li>ul {
    top: 0;
    margin-left: 120%;
}

.side-layout #mainmenu li ul {
    border: solid 1px #888;
}

.side-layout header div#logo {
    display: block;
    float: none;
    text-align: center;
}

.side-layout header div#logo img {
    width: 100%;
}

.side-layout #subheader {
    width: 80%;
    float: right;
    text-align: left;
}

.side-layout #subheader h1 {
    margin-top: 0;
    font-size: 24px;
}

.side-layout #subheader .small-border-deco span {
    margin: 0;
}


.bg-color-secondary h1,
.bg-color-secondary h2,
.bg-color-secondary h3,
.bg-color-secondary h4,
.bg-color-secondary h5,
.bg-color-secondary h6,
.p-title.invert,
.p-tagline,
i.bg-color-secondary {
    color: #ffffff;
}



.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#purchase-now {
    position: fixed;
    bottom: 80px;
    left: 20px;
    z-index: 10000;
}

#purchase-now a {
    color: #ffffff;
    z-index: 1;
    position: absolute;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background: #78A938;
    display: block;
    font-size: 24px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    padding: 17px;
    text-decoration: none;
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(120, 169, 56, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(120, 169, 56, 0);
    }
}

#purchase-now a span {
    font-size: 14px;
    font-weight: 500;
    left: 8px;
    position: absolute;
    top: 18px;
    width: 100px;
}

#purchase-now .pn-hover {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    background: #ffffff;
    color: #78A938;
    width: 120px;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    top: 8px;
    border-radius: 5px;
    left: 30px;
    opacity: 0;
}

#purchase-now:hover .pn-hover {
    opacity: 1;
    left: 40px;
}

.de-images {
    position: relative;
    width: 100%;
}

.de-images img {
    border-radius: 3px;
    -webkit-box-shadow: 2px 20px 30px 0px rgba(20, 20, 20, 0.3);
    -moz-box-shadow: 2px 20px 30px 0px rgba(20, 20, 20, 0.3);
    box-shadow: 2px 20px 30px 0px rgba(20, 20, 20, 0.3);
}

.di-small {
    position: absolute;
    width: 40%;
    z-index: 1;


}

.di-small-2 {
    position: absolute;
    width: 40%;
    right: -0;
    bottom: -15%;
    z-index: 1;
}

.di-big {
    width: 80%;
    height: 80%;
    margin-top: 15%;
    margin-left: 10%;
}

div.round, .rounded {
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
}

.opt-1 {
    display: inline-block;
}

.size96 {
    width: 96px;
    height: auto;
}

.domain-ext {
    margin-top: 15px;
}

.ext {
    border: solid 1px rgba(255, 255, 255, .2);
    display: inline-block;
    padding: 8px 10px 0px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 5px 10px 5px;
}

.ext h4 {
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 0;
}

.border {
    border-color: #EFEFEF !important;
}

.tparrows {
    background: none !important;
}


.fc-header-toolbar {
    font-size: 14px;
}

.fc-content {
    color: #ffffff;
    padding: 3px;
}

.fc-widget-header {}

.fc-view {
    background: #ffffff;
}

.fc-day-number {
    padding: 4px 8px !important;
}

.f-profile {
    margin-bottom: 0px;
}

.f-profile h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.fp-wrap {
    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.fpw-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.fpw-overlay-btm {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .6;
}

.f-invert .fpw-overlay-btm {
    opacity: 0;
}

.fpwo-wrap {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.fpwow-icons {
    display: inline-block;
    background: #ffffff;
    padding: 5px 10px 7px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.fpwow-icons a {
    color: #ffffff;
    padding: 0 5px;
}


.full-height .center-y {
    display: table-cell;
    vertical-align: middle;
}

.pic-hover {
    width: 100%;
    position: relative;
    overflow: hidden;
}

i.btn-action-hide {
    opacity: 0;
}

.pic-hover:hover .bg-overlay {
    background: rgba(0, 0, 0, .5);
}

.pic-hover:hover i.btn-action-hide {
    opacity: 1;
}

.pic-hover.hover-scale:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.center-xy {
    position: absolute;
    z-index: 5;
}

.center-xy i.btn-action {
    font-size: 24px;
    border: solid 2px rgba(255, 255, 255, .3);
    padding: 16px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    text-align: center;
    color: #fff;
}

.center-xy i.btn-action:hover {
    border-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, .3);
}

.center-xy i.btn-action.btn-play {
    padding-left: 20px;
}

.bg-grey,
section.bg-grey {
    background: rgba(var(--secondary-color-rgb), .1);
}

.wow {
    visibility: hidden;
}

#back-to-top {
    background: #ffffff;
    position: fixed;
    bottom: -40px;
    right: 10px;
    z-index: 1020;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: poInter;
    border: 0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    outline: none;
    opacity: 0;
}

#back-to-top:hover {
    transform: scale(1.1);
}

#back-to-top.show {
    bottom: 20px;
    opacity: 1;
}

#back-to-top.hide {
    bottom: -40px;
}

#back-to-top:before {
    font-family: "FontAwesome";
    font-size: 18px;
    content: "\f106";
    color: #fff !important;
    position: relative;
}

