@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("../fonts/font-awesome/css/font-awesome.css");
@import url("../fonts/elegant_font/HTML_CSS/style.css");
@import url("../fonts/et-line-font/style.css");
@import url("../fonts/icofont/icofont.min.css");

* {
    --body-font: "Manrope", Helvetica, Arial, sans-serif;
    --title-font: "Manrope", Helvetica, Arial, sans-serif;
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #fff;
}

body {    
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: #818181;
    line-height: 30px;
    padding: 0;
    line-height: 26px;
    word-spacing: 0px;
}

.dark-scheme{
    color: #9fa4dd;
}
body.dark-scheme{
    background: #161D30;
}

body.boxed {
    margin: 30px;
    overflow: hidden;
    border: solid 1px #eee;
}

body .owl-stage .owl-item {
    display: inline-block;
}

#wrapper {
    overflow: hidden;
}

.de-navbar-left #wrapper {
    overflow: visible;
}

a,
a:hover {
    text-decoration: none;
}

a.a-underline {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

a.a-underline span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #333;
    width: 0;
}

a.a-underline:hover span {
    width: 100%;
}



header {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1001;
    background: #2b313f;
    margin: 0;
    height:
}

header.smaller.has-topbar {
    height: 105px;
}

header.header-s1 {
    top: 0;
}

header .info {
    display: none;
    color: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 100;
    background: #242424;
}

header .info .col {
    display: inline-block;
    font-size: 12px;
}

header .info .col {
    padding-right: 30px;
}

header .info .col:last-child {
    padding-right: 0px;
}

header .info i {
    font-size: 14px;
    margin-right: 15px;
}

header .info .social.col {
    border: none;
}

header .info .social i {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    float: none;
    padding: 0 10px 0 10px;
    margin: 0;
}

header .info strong {
    font-size: 12px;
}

header.header-bg {
    background: rgba(0, 0, 0, 0.5);
}

header.transparent {
    background: none;
}

header .header-row {
    text-align: center;
}

header.header-mobile.has-topbar .header-row,
header.header-mobile.has-topbar .header-col {
    margin-top: 10px;
}
.de-navbar-left .container-fluid .container {
    width: 100%;
}

.side-layout .container {
    width: 90%;
}

.no-bottom .col-md-12 {}

.no-bottom {
    padding-bottom: 0 !important;
}

.no-top {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.de-flex {
    display: flex;
    justify-content: space-between;
}

.de-flex>.de-flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.soft-shadow{
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 5%), 0 1.5rem 2.2rem rgb(0 0 0 / 10%);
}

#item-carousel-big{
    padding: 0 25px;
}